<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_field :title, placeholder: "Title" %>
	</div>
	<div class="field">
		<%= f.text_area :content, placeholder: "Skapa nyheter" %>
	</div>
	<%= f.submit "Skapa", class: "btn btn-large btn-primary" %>
<% end %>